<section id="hero" class="hero">
  <div class="hero-content">
    <h1>
      Hola! <span class="wave">👋</span> soy
      <span class="highlight">Facundo Nicolás Ruiz</span>
   </h1>

    <h2>Full Stack Developer</h2>

    
    <div class="hero-buttons">
      <a href="#projects" class="btn-primary">Ver proyectos</a>
      <a href="#contact" class="btn-secondary">Contactarme</a>
      <a href="docs/CV-Facundo-Nicolas-Ruiz.pdf" download="CV-Facundo-Ruiz.pdf" class="btn-cv">
  <i class="fas fa-download"></i> Descargar CV
</a>
    </div>
  </div>
</section>