<section id="about" class="about">
  <div class="about-split">
    <div class="about-image">
      <img src="images/foto-perfil.jpg" alt="Facundo Ruiz">
    </div>
    
    <div class="about-content">
      <h2 class="section-title">Sobre mí</h2>
      
      <p class="about-text">
        Soy <span class="highlight">Facundo Ruiz</span>, desarrollador Full Stack Junior 
        de Córdoba, Argentina, apasionado por construir aplicaciones web modernas y funcionales.
      </p>

      <p class="about-text">
       Me especializo en el desarrollo <span class="highlight">backend con Java y Spring Boot</span>, 
       creando APIs REST, trabajando con autenticación JWT y arquitecturas de microservicios.
       También cuento con experiencia en frontend utilizando <span class="highlight">Angular</span>.
      </p>

      <p class="about-text">
        Estoy en búsqueda de mi primera experiencia profesional, con muchas ganas de 
        seguir aprendiendo, aportar valor a un equipo y crecer dentro de la industria.
      </p>
    </div>
  </div>
</section>