<section id="projects" class="projects">
  <div class="projects-container">
    <h2 class="section-title">Proyectos</h2>
    
    <div class="projects-grid">
      
      <!-- Project Card 1 -->
      <div class="project-card">
        <div class="project-image">
          <img src="/assets/projects/logo-condor.png" alt="Project 1">
          <div class="project-overlay">
            <div class="project-links">
              <a href="https://github.com/LCIV-2024/2W1-TPI-users-and-addresses.git" target="_blank" class="project-link">
                <i class="fab fa-github"></i> Code
              </a>
             
            </div>
          </div>
        </div>
        
        <div class="project-info">
          <h3>Sistema de Gestion de consorcio Villa del Condor</h3>
          <p>Microservicio de gestión de usuarios con autenticación JWT, control de roles y CRUD completo. Comunicación REST entre servicios y persistencia con JPA/Hibernate.</p>
          
          <div class="project-tech">
            <span class="tech-tag">Angular 18</span>
            <span class="tech-tag">TypeScript</span>
            <span class="tech-tag">Java</span>
            <span class="tech-tag">Spring Boot</span>
            <span class="tech-tag">MySQL</span>
            <span class="tech-tag">JWT</span>
            <span class="tech-tag">Microservicios</span>
          </div>
        </div>
      </div>

      <!-- Project Card 2 -->
      <div class="project-card">
        <div class="project-image">
          <img src="/assets/projects/LogoTempla.png" alt="Project 2">
          <div class="project-overlay">
            <div class="project-links">
              <a href="https://github.com/FacuRuizz1/PS2025_TemplaRestaurante.git" target="_blank" class="project-link">
                <i class="fab fa-github"></i> Code
              </a>
              
            </div>
          </div>
        </div>
        
        <div class="project-info">
          <h3>Templa Restaurante</h3>
          <p>Aplicación para gestión de restaurante Full Stack con pedidos online, reservas de mesa, 
             gestión de menús e integración con Mercado Pago. Cuenta con autenticación JWT, 
             paneles interactivos y pruebas unitarias.</p>
          
          <div class="project-tech">
            <span class="tech-tag">Angular 18</span>
            <span class="tech-tag">TypeScript</span>
            <span class="tech-tag">Java</span>
            <span class="tech-tag">Spring Boot</span>
            <span class="tech-tag">Spring Security</span>
            <span class="tech-tag">JWT</span>
            <span class="tech-tag">MySQL</span>
            <span class="tech-tag">API REST</span>
            <span class="tech-tag">Google Charts</span>
          </div>
        </div>
      </div>

     
    </div>
  </div>
</section>
